@using System.Web;
@using SFA.DAS.FindEmploymentSchemes.Contentful.Model
@using SFA.DAS.FindEmploymentSchemes.Contentful.Model.Interim;
@using SFA.DAS.FindEmploymentSchemes.Web.Services
@model InterimPageModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@section PreviewErrors {

    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)

}

@await Html.PartialAsync(

    "_InterimPreambleGeneralPartial",

    new Tuple<InterimPreamble?, InterimBreadcrumbs?, bool>(Model.InterimPagePreamble, Model.InterimPageBreadcrumbs, false)

)

@{

    string? completeUrl = Url.Action("InterimPage", "InterimPage", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!;

}

<div class="govuk-width-container govuk-!-padding-left-2 govuk-!-padding-right-2">

    <div class="govuk-main-wrapper govuk-!-padding-bottom-0">

        <div class="govuk-grid-row">

            <div id="scheme-details-inner-two-thirds" class="govuk-grid-column-two-thirds">

                @if (Model.InterimPageComponents.Any())
                {

                    @foreach (InterimPageComponent component in Model.InterimPageComponents.OrderBy(a => a.ComponentOrder))
                    {

                        @Html.Raw(InterimComponentService.GenerateSubComponent(component))

                    }

                }

            </div>

            <div class="govuk-grid-column-one-third">



            </div>

        </div>

        @if (Model.InterimPageTileSections.Any())
        {

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    @for (int i = 0; i < Model.InterimPageTileSections.Count; i++)
                    {
                        @await Html.PartialAsync(

                            "_InterimTileSectionPartial",

                            (Model.InterimPageTileSections[i], i > 0)

                        )

                    }

                </div>

            </div>

        }

    </div>

</div>

@await Html.PartialAsync("_SharePagePartial", completeUrl)