@{
    ViewData["Title"] = "GOV.UK - Accessibility statement";
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Back</a>
}

<h1 id="accessibility-header" class="govuk-heading-xl">Accessibility statement</h1>
