@model PageModel

@{
    //todo: handle this better
    var cookiePage = (CookiePage)Model.Page;
    ViewData["Title"] = "Cookies";
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        @if (cookiePage.ShowMessage)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You’ve set your cookie preferences
                    </p>
                </div>
            </div>
        }

        @cookiePage.AnalyticsPage.Content

        <table class="govuk-table" aria-label="Cookies that measure website usage">
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Purpose
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr>
                    <td class="govuk-table__cell">
                        _ga
                    </td>
                    <td class="govuk-table__cell">
                        Used by Google Analytics to distinguish users
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _gat
                    </td>
                    <td class="govuk-table__cell">
                        Google Analytics throttling rate request
                    </td>
                    <td class="govuk-table__cell">
                        1 minute
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _gid
                    </td>
                    <td class="govuk-table__cell">
                        Used by Google Analytics to distinguish users
                    </td>
                    <td class="govuk-table__cell">
                        1 day
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        AnalyticsConsent
                    </td>
                    <td class="govuk-table__cell">
                        Stores if user has accepted analytics cookies
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="govuk-section-break govuk-section-break--l g" />

        @cookiePage.MarketingPage.Content

        <table class="govuk-table" aria-label="Cookies that help with our communications and marketing">
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Purpose
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr>
                    <td class="govuk-table__cell">
                        _fbp
                    </td>
                    <td class="govuk-table__cell">
                        This helps deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising after visiting our website
                    </td>
                    <td class="govuk-table__cell">
                        3 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _gcl_au
                    </td>
                    <td class="govuk-table__cell">
                        Used by Google AdSense, this experiments with advertisement efficiency across websites that use their services
                    </td>
                    <td class="govuk-table__cell">
                        3 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        ANON
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        1 month
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        MUID
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        NAP
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        1 month
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        SRCHD
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        2 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        SRCHHPGUSR
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        4 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        SRCHUID
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        2 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        SRCHUSR
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        4 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _RwBf
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        4 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        MUIDB
                    </td>
                    <td class="govuk-table__cell">
                        Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                    </td>
                    <td class="govuk-table__cell">
                        1 month
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _fbp
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        3 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        act
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        When you close your browser
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        c_user
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        datr
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        18 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        fr
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        presence
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        When you close your browser
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        sb
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        spin
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        wd
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        xs
                    </td>
                    <td class="govuk-table__cell">
                        These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _ga
                    </td>
                    <td class="govuk-table__cell">
                        Snapchat uses Google Analytics to help improve their services. For example, they can use these cookies to learn more about which features are the most popular with their users and which ones might need some tweaks
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        sc_at
                    </td>
                    <td class="govuk-table__cell">
                        Snapchat uses this cookie to deliver advertisements, to make them more relevant and meaningful to consumers, and to track the efficiency of advertising campaigns
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        Personalization_id
                    </td>
                    <td class="govuk-table__cell">
                        Twitter uses this cookie for integration of its services and sharing capabilities from the website to social media, as well as tracking and targeting
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        i/adsct
                    </td>
                    <td class="govuk-table__cell">
                        Twitter uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        session
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        ad_id
                    </td>
                    <td class="govuk-table__cell">
                        Amazon uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        9 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        ad_privacy
                    </td>
                    <td class="govuk-table__cell">
                        Amazon uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        9 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _ppcMktoCmp
                    </td>
                    <td class="govuk-table__cell">
                        This cookie is set by Marketo with an ID from the link that brought you to the page
                    </td>
                    <td class="govuk-table__cell">
                        30 days
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _mkto_trk
                    </td>
                    <td class="govuk-table__cell">
                        This cookie is set by Marketo. This allows a website to track visitor behavior on the sites on which the cookie is installed and to link a visitor to the recipient of an email marketing campaign, to measure campaign effectiveness. Tracking is performed anonymously until a user is identified by submitting a form.
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        L1c
                    </td>
                    <td class="govuk-table__cell">
                        Linkedin uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        session
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        BizoID
                    </td>
                    <td class="govuk-table__cell">
                        Linkedin uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        6 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        BizoData
                    </td>
                    <td class="govuk-table__cell">
                        Linkedin uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        6 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        BizoNetworkPartnerIndex
                    </td>
                    <td class="govuk-table__cell">
                        Linkedin uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        6 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        BizoUserMatchHistory
                    </td>
                    <td class="govuk-table__cell">
                        Linkedin uses this cookie to allow tailored advertising based on our actions on this website
                    </td>
                    <td class="govuk-table__cell">
                        6 months
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        MarketingCookieConsent
                    </td>
                    <td class="govuk-table__cell">
                        Stores if user has accepted marketing cookies
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="govuk-section-break govuk-section-break--l g" />

        <h2 class="govuk-heading-l">Change your cookie settings</h2>
        <form action="/page/cookies" method="post" novalidate>
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you want to use cookies that measure your website use?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="analytics-cookies" name="AnalyticsCookies" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="analytics-cookies">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="analytics-cookies-2" name="AnalyticsCookies" type="radio" value="no" checked>
                  <label class="govuk-label govuk-radios__label" for="analytics-cookies-2">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you want to use cookies that help with communications and marketing?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="marketing-cookies" name="MarketingCookies" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="marketing-cookies">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="marketing-cookies-2" name="MarketingCookies" type="radio" value="no" checked>
                  <label class="govuk-label govuk-radios__label" for="marketing-cookies-2">
                    No
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <button class="govuk-button" data-module="govuk-button">
            Save cookie settings
          </button>
        </form>

    </div>
</div>
