@model SFA.DAS.FindEmploymentSchemes.Web.Models.CookiePage

@{
    ViewData["Title"] = "Cookies";
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        @if (Model.ShowMessage)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You’ve set your cookie preferences
                    </p>
                </div>
            </div>
        }

        @Model.Content

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Purpose
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr>
                    <td class="govuk-table__cell">
                        _ga
                    </td>
                    <td class="govuk-table__cell">
                        Used by Google Analytics to distinguish users.
                    </td>
                    <td class="govuk-table__cell">
                        2 years
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _gat
                    </td>
                    <td class="govuk-table__cell">
                        Google Analytics throttling rate request
                    </td>
                    <td class="govuk-table__cell">
                        1 minute
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _gid
                    </td>
                    <td class="govuk-table__cell">
                        Used by Google Analytics to distinguish users.
                    </td>
                    <td class="govuk-table__cell">
                        1 day
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        DASAcceptCookies
                    </td>
                    <td class="govuk-table__cell">
                        Stores if user has accepted cookies
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        DASRejectCookies
                    </td>
                    <td class="govuk-table__cell">
                        Stores if user has rejected cookies
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="govuk-section-break govuk-section-break--l g" />

        <h2 class="govuk-heading-l">Change your cookie settings</h2>
        <form action="/page/cookie" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you want to accept analytics cookies?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="analytics-cookies" name="AnalyticsCookies" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="analytics-cookies">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="analytics-cookies-2" name="AnalyticsCookies" type="radio" value="no" checked>
                  <label class="govuk-label govuk-radios__label" for="analytics-cookies-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save cookie settings
          </button>
        </form>

    </div>
</div>
