@model SFA.DAS.FindEmploymentSchemes.Web.Models.Page

@{
    ViewData["Title"] = "Cookies";
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        @Model.Content

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Purpose
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr>
                    <td class="govuk-table__cell">
                        _ga
                    </td>
                    <td class="govuk-table__cell">
                        Used by Google Analytics to distinguish users.
                    </td>
                    <td class="govuk-table__cell">
                        2 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _gat
                    </td>
                    <td class="govuk-table__cell">
                        Google Analytics throttling rate request
                    </td>
                    <td class="govuk-table__cell">
                        1 minute
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        _gid
                    </td>
                    <td class="govuk-table__cell">
                        Used by Google Analytics to distinguish users.
                    </td>
                    <td class="govuk-table__cell">
                        1 day
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        DASAcceptCookies
                    </td>
                    <td class="govuk-table__cell">
                        Stores if user has accepted cookies
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">
                        DASRejectCookies
                    </td>
                    <td class="govuk-table__cell">
                        Stores if user has rejected cookies
                    </td>
                    <td class="govuk-table__cell">
                        1 year
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="govuk-section-break govuk-section-break--l g" />

    </div>
</div>
