@model (Page, PreviewModel)

@{
    var page = Model.Item1;
    var preview = Model.Item2;

    if (!string.IsNullOrWhiteSpace(page.Title))
    {
        ViewData["Title"] = page.Title[..Math.Min(page.Title.Length, 64)];
    }
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
}

@section PreviewErrors
{
    @await Html.PartialAsync("_PreviewErrorsPartial", preview)
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @(page.Content)
    </div>
</div>
