@model Page

@{
    var errors = new List<HtmlString>();
    bool hasTitle = !string.IsNullOrWhiteSpace(Model.Title);
    if (hasTitle)
    {
        ViewData["Title"] = Model.Title![..Math.Min(Model.Title!.Length, 64)];
    }
    else
    {
        errors.Add(new HtmlString("Title must not be blank"));
    }

    if (Model.Content == null)
    {
        errors.Add(new HtmlString("Content must not be blank"));
    }
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
}

@section PreviewErrors
{
    @await Html.PartialAsync("_PreviewErrorsPartial", errors)
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Model.Content
    </div>
</div>
