@model PageModel

@{
    if (!string.IsNullOrWhiteSpace(Model.Page.Title))
    {
        ViewData["Title"] = Model.Page.Title[..Math.Min(Model.Page.Title.Length, 64)];
    }
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
}

@section PreviewErrors
{
    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Model.Page.Content
    </div>
</div>
