@using SFA.DAS.FindEmploymentSchemes.Contentful.Model.Content
@model Page

@{
    ViewData["Title"] = Model?.Title?.Substring(0, Math.Min(Model?.Title?.Length ?? 64, 64));
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
}

@if (string.IsNullOrWhiteSpace(Model?.Title)) {
    @section PreviewErrors {
        <h3>Errors</h3>
        <ul>
            @if (string.IsNullOrWhiteSpace(Model?.Title)) {
                <li>Title must not be blank</li>
            }
        </ul>
    }
} else {

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Model?.Content
    </div>
</div>

}
