@model PageModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{

    if (!string.IsNullOrWhiteSpace(Model.Page.Title))
    {

        ViewData["Title"] = Model.Page.Title[..Math.Min(Model.Page.Title.Length, 64)];

    }

    string completeUrl = Url.Action(@Model.Page.Url, "Page", null, protocol: HttpContextAccessor.HttpContext.Request.Scheme);

}

@section PreviewErrors
{

    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)

}

@await Html.PartialAsync(

    "_PreambleBannerPartial",

    new Tuple<string, string, IHtmlContent?>(Model.Preview.IsPreview ? "home-preview" : "home", string.Empty, null)

)

<div class="govuk-width-container govuk-!-padding-top-8">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            @Model.Page.Content

        </div>

    </div>

</div>

@await Html.PartialAsync("_SharePagePartial", completeUrl)
