@model CaseStudyPage

@{
    var errors = new List<HtmlString>();
    bool hasTitle = !string.IsNullOrWhiteSpace(Model.Title);
    if (hasTitle)
    {
        ViewData["Title"] = Model.Title![..Math.Min(Model.Title!.Length, 64)];
    }
    else
    {
        errors.Add(new HtmlString("Title must not be blank"));
    }
    // note: schemes without urls will have already been filtered out
    bool hasValidScheme = Model.Scheme?.Name != null;
    if (!hasValidScheme)
    {
        errors.Add(new HtmlString("Scheme must be selected and have been given an URL and name before publishing"));
    }
    if (Model.Content == null)
    {
        errors.Add(new HtmlString("Content must not be blank"));
    }
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
    @if (hasValidScheme)
    {
        <a href="@Url.Action("Details", "Schemes", new {schemeUrl = Model.Scheme!.Url})" class="govuk-back-link">@Model.Scheme!.Name</a>
    }
}

@section PreviewErrors
{
    @await Html.PartialAsync("_PreviewErrorsPartial", errors)
}

<div class="govuk-grid-row">
    <div id="scheme-details-outer" class="govuk-grid-row">
        <div id="case-study-inner-two-thirds" class="govuk-grid-column-two-thirds">
            @Model.Content
        </div>
    </div>
</div>