@model CaseStudyPageModel

@{
    if (!string.IsNullOrWhiteSpace(Model.CaseStudyPage.Title))
    {
        ViewData["Title"] = Model.CaseStudyPage.Title[..Math.Min(Model.CaseStudyPage.Title.Length, 64)];
    }

    // note: schemes without urls will have already been filtered out
    bool hasValidScheme = Model.CaseStudyPage.Scheme?.Name != null;
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Home</a>
    @if (hasValidScheme)
    {
        <a href="@Url.Action("Details", "Schemes", new {schemeUrl = Model.CaseStudyPage.Scheme!.Url})" class="govuk-back-link">@Model.CaseStudyPage.Scheme!.Name</a>
    }
}

@section PreviewErrors
{
    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)
}

<div class="govuk-grid-row">
    <div id="scheme-details-outer" class="govuk-grid-row">
        <div id="case-study-inner-two-thirds" class="govuk-grid-column-two-thirds">
            @Model.CaseStudyPage.Content
        </div>
    </div>
</div>