
h1, h2, h3, h4, p, span, legend, label, ul, li, a, button { /* .font-override h1, etc {*/
    font-family: arial !important;
}

.app-header {
    background-color: #23145f;
}

.app-header__container {
    padding: 10px 0;
    border-bottom: 10px solid #f4d80d;
    margin-bottom: -10px;
}

.app-header__service-name {
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: inline-block;
    margin: 5px 0;
}

.app-header__plan-for-jobs-logo {
    float: right;
    margin-top: -30px;
    position: relative;
}

@media (min-width: 40.0625em) {
    .app-header__row,
    .app-header__col {
        display: flex;
        align-items: center;
    }
    .app-header__col {
        justify-content: space-between;
    }
    .app-header__plan-for-jobs-logo {
        margin-top: 0;
    }
}

.app-show-hide {
    display: none;
}

.app-show-hide__section--show {
    display: block;
}

.app-filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
    overflow: auto;
    margin: 0;
}

@media (min-width: 40.0625em) {
    .app-filter {
        position: relative;
    }
}

/*todo: consistent naming of these*/

@media (max-width: 40.0600em) {
    body:not(.js-enabled) .app-hide-on-mobile-no-js {
        display: none;
    }
}

@media (min-width: 40.0625em) {
    body.js-enabled .app-js-desktop-hide {
        display: none;
    }
}

body.js-enabled .app-show-on-mobile-no-js {
    display: none;
}

@media (min-width: 40.0625em) {
    .app-show-on-mobile-no-js {
        display: none;
    }
}

.app-filter:focus {
    outline: 2px solid #fd0;
}

.app-filter__header {
    background: #b1b4b6;
}

@media (max-width: 40.0600em) {
    #scheme-home-filter-header {
        /* stop heading from overlapping close button */
        margin-right: 3em;
    }
}

#close-filter {
    position: absolute;
    right: 0;
    top: 0;
    padding: inherit;
    width: auto;
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 40.0625em) {
    #close-filter {
        display: none;
    }
}

@media (max-width: 40.0600em) {
    .app-filter-layout__content {
        width: 100%;
    }
}

@media (min-width: 40.0625em) {
    .app-filter-layout--show .app-filter-layout__filter {
        width: 40%;
    }

    .app-filter-layout--show .app-filter-layout__content {
        width: 60%;
    }
}

#number-of-schemes-box {
    background: #f3f2f1;
    padding: 15px;
    margin-bottom: 15px;
}

#number-of-schemes-heading {
    margin-bottom: 0;
}

#mobile-no-js-filter-form {
    width: 100%;
    margin-top: 15px;
}

#scheme-home-filter-form-button-group {
    margin-top: 15px;
}

.cx-cta-box {
    background: #f3f2f1;
    padding: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
    .cx-cta-box {
        margin-bottom: 20px;
        margin-top: 40px;
        padding-bottom: 25px;
        padding: 20px;
    }
}
