@model Scheme

@{
    ViewData["Title"] = "Apprenticeships";
}

@section BreadCrumbs {
    <a href="/" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			@Model.Name
		</h1>
		<p class="govuk-body">
			Applies to England
		</p>
		<p class="govuk-body">
			<a href="https://www.apprenticeships.gov.uk/employers" class="govuk-link">Apprenticeships</a> are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job.
		</p>
		<p class="govuk-body">
			<a href="https://www.gov.uk/apprenticeships-guide" class="govuk-link"> Apprentices</a> can be new or current employees. 
		</p>
		<p class="govuk-body">
			Your apprentice must: 
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				work with experienced staff
			</li>
			<li>
				learn job-specific skills
			</li>
			<li>
				get time for training or study during their working week (at least 20% of their normal working hours)
			</li>
		</ul>
		<h2 class="govuk-heading-m"> Employer costs </h2>
		<p class="govuk-body">
			You must pay apprentices <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">the minimum wage</a>.
		</p>
		<p class="govuk-body">
			You may have to contribute 5% of the apprentice’s training and assessment costs – depending on the size of your business and the age of your apprentice. 
		</p>
		<h2 class="govuk-heading-m"> Employer responsibility </h2>
		<p class="govuk-body">
			Employers must provide:
		</p>
		<p class="govuk-body">
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				a safe work environment
			</li>
			<li>
				an induction which includes explaining relevant policies and procedures
			</li>
			<li>
				opportunities for the student to develop their technical skills within your industry
			</li>
			<li>
				20% ‘Off-the-job’ training delivered by a training provider during your apprentice's normal working hours
			</li>
			<li>
				‘On-the-job’ training and additional support to ensure your apprentice’s success
			</li>
		</ul>
		<p class="govuk-body">
			Employers must also have:
		</p>
		<p class="govuk-body">
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				a signed apprenticeship agreement and apprenticeship commitment statement from the learner and training provider
			</li>
			<li>
				selected an endpoint assessment organisation for the apprentice endpoint assessment 
			</li>
		</ul>
		<h2 class="govuk-heading-m">Benefits of apprenticeships</h2>
		<p class="govuk-body">
			Find out <a href="https://www.apprenticeships.gov.uk/" class="govuk-link">how apprenticeships can benefit your business</a>.
		</p>
		<h2 class="govuk-heading-m">Case studies</h2>
		<p class="govuk-body">
			Read about <a href="http://www.gov.uk/government/case-studies/how-employers-are-making-the-most-of-apprenticeship-incentives" class="govuk-link">how businesses are using incentive payments to hire apprentices</a>.
		</p>
		<section class="das-highlight govuk-!-margin-top-7">
			<h2 class="govuk-heading-m">Offer an apprenticeship</h2>
			<p class="govuk-body">
				Get started with offering an apprenticeship.
			</p>
			<p class="govuk-!-margin-bottom-0">
				<a href="https://www.apprenticeships.gov.uk/employers" class="govuk-link"> Hire an apprentice </a>
			</p>
		</section>
	</div>
	<div class="govuk-grid-column-one-third">
		<h3 class="govuk-heading-m">Other schemes</h3>
		<ul class="govuk-list">
		</ul>
	</div>
</div>