@using SFA.DAS.FindEmploymentSchemes.Web.Services
@model BetaBanner

<div class="govuk-width-container">

    <div class="das-grid">

        <div class="govuk-phase-banner" style="display:flex">

            <p class="govuk-phase-banner__content">

                <strong class="govuk-tag govuk-phase-banner__content__tag">

                    Beta

                </strong>

                <span class="govuk-phase-banner__text">

                    @if(Model == null || Model.BetaBannerContent == null)
                    {

                        <span>This is a new service – your <a id="layout-main-content-banner-link" href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_3geG7aDVWFuYTvo" role="link">feedback</a> will help us to improve it.</span>

                    }
                    else
                    {

                        @InterimComponentService.ToHtmlString(Model.BetaBannerContent)

                    }

                </span>

            </p>

        </div>

    </div>

</div>