@model LayoutModel

<div>

    <div class="govuk-width-container">

        @{

            <a asp-route="@(Model.Preview.IsPreview ? "home-preview" : "home")" class="govuk-back-link" role="link">Home</a>
        }

    </div>

</div>

