@using SFA.DAS.FindEmploymentSchemes.Contentful.Model.Interim
@using SFA.DAS.FindEmploymentSchemes.Web.Services
@model (Scheme?, bool)

@if (Model.Item1 != null)
{

    <div class="das-primary-banner govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-6 govuk-!-margin-right-0 govuk-!-margin-left-0">

        @await Html.PartialAsync(

            "_InterimBreadcrumbPartial",

            (Model.Item1.InterimBreadcrumbs, Model.Item2)

        )

        <div class="govuk-width-container govuk-width-container-large">

            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2 govuk-!-padding-left-0">

                <h1 id="comparison-results-h1" class="govuk-heading-xl govuk-!-margin-top-4">@Model.Item1.Name</h1>

                @if (Model.Item1.InterimPreamble?.PrimarySection != null)
                {

                    @InterimComponentService.ToHtmlString(Model.Item1.InterimPreamble.PrimarySection)

                }

            </div>

            <div class="govuk-grid-column-one-third govuk-!-padding-top-0">

                @if (Model.Item1.InterimPreamble?.SecondarySection != null)
                {

                    @InterimComponentService.ToHtmlString(Model.Item1.InterimPreamble.SecondarySection)

                }

            </div>

        </div>

    </div>

}