@model string

<div class="govuk-width-container govuk-!-padding-top-1 govuk-!-padding-bottom-8">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2>Share this page</h2>

    <ul class="das-share-links das-horizontal-icon-list">

        <li>

            <i class="fa-solid fa-envelope"></i>

            <a href="mailto:customer.experience@education.gov.uk?body=https://find-employer-schemes.education.gov.uk/@Model">Email</a>

        </li>

        <li>

            <i class="fa-brands fa-square-facebook"></i>

            <a href="https://www.facebook.com/sharer.php?u=https://find-employer-schemes.education.gov.uk/@Model" target="_blank" rel="noopener noreferrer">Facebook</a>

        </li>

        <li>

            <i class="fa-brands fa-square-x-twitter"></i>
            
            <a href="https://twitter.com/intent/tweet?url=https://find-employer-schemes.education.gov.uk/@Model" target="_blank" rel="noopener noreferrer">X (formerly Twitter)</a>

        </li>

        <li>

            <i class="fa-brands fa-linkedin"></i>

            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://find-employer-schemes.education.gov.uk/@Model" target="_blank" rel="noopener noreferrer">LinkedIn</a>

        </li>

    </ul>

</div>