@using System.Web;
@using SFA.DAS.FindEmploymentSchemes.Contentful.Model.Interim;
@model LandingModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{

    ViewData["Title"] = $"Find training and employment schemes for your business - Landing Page{(Model.Preview.IsPreview ? " Preview" : "")}";

}

@section PreviewErrors {

    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)

}

@await Html.PartialAsync(

    "_InterimPreambleGeneralPartial",

    new Tuple<InterimPreamble?, InterimBreadcrumbs?, bool, bool>(Model.InterimLandingPagePreamble, null, true, Model.Preview.IsPreview)

)

@{

    string? completeUrl = Url.Action(Model.Preview.IsPreview ? "LandingPreview" : "Landing", "Landing", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!;

}

<div class="govuk-width-container govuk-!-padding-left-2 govuk-!-padding-right-2">

    <div class="govuk-main-wrapper">

        @for(int i = 0; i < Model.InterimTileSections.Count; i++)
        {
            @await Html.PartialAsync(

                "_InterimTileSectionPartial",

                (Model.InterimTileSections[i], i > 0, Model.Preview.IsPreview)

            )

        }

    </div>

</div>

@await Html.PartialAsync("_SharePagePartial", completeUrl)